{% extends 'base.html' %}

{% block title %} Comunidade {% endblock %}

{% block content %}
<nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav" xmlns="http://www.w3.org/1999/html">
    <div class="container"><a class="navbar-brand" href="#">Brand</a><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item nav-link"><a class="nav-link active" href="{% url 'fotos:galeria' %}">Gallery</a></li>
                <li class="nav-item nav-link"><a class="nav-link" href="{% url 'fotos:comunidade' %}">Members Page</a></li>
                <li class="nav-item nav-link"><a class="nav-link" href="#contact">contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<body class="m-5">
<div class="container">
    <div class="row bootstrap snippets bootdeys">
        <div class="col-md-0 col-sm-0">
            <h2>Comunidade</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <form action="{% url 'fotos:comunidade' %}" method="get">
                        <div class="input-group">
                            <input name="q" type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
        {% for utilizador in utilizadores %}
        <div class="member-entry">
            <a href="{% url 'fotos:profile' %}" class="member-img">
                <img src="{{ utilizador.image_url }}" class="img-rounded">
                <i class="fa fa-forward"></i>
            </a>
            <div class="member-details">
                <h4> <a style="font-size: 28px" href="{% url 'fotos:profile' %}">{{ utilizador.user.username }} </a> </h4>
                <div class="row info-list">
                    <div class="col-sm-4">
                        <i class="fa fa-user-astronaut"></i>
                        <a style="font-size: 18px" itemref=" ">{{ utilizador.user.first_name }}</a>
                    </div>
                    <div class="clear"></div>
                    <div class="col-sm-4">
                        <i class="fa fa-user-astronaut"></i>
                        <a style="font-size: 18px" itemref=" ">{{ utilizador.user.last_name }}</a>
                    </div>
                    <div class="col-sm-4">
                        <i class="fa fa-envelope"></i>
                        <a style="font-size: 18px" href=" ">{{ utilizador.user.email }}</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
{% endblock %}