{% extends 'base.html' %}

{% block title %} Comunidade {% endblock %}
{% load custom_tags %}
{% block content %}
<div class="container">
    <div class="row bootstrap snippets bootdeys">
        <div class="col-md-0 col-sm-0">
            <h2>Comunidade</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <form action="{% url 'fotos:comunidade' %}" method="get">
                        <div class="input-group">
                            <input name="q" type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
        {% for utilizador in utilizadores %}
        <div class="member-entry">
            <a href="{% url 'fotos:profile' utilizador.user_id %}" class="member-img">
                <img src="{{ utilizador.image_url }}" class="img-rounded">
                <i class="fa fa-forward"></i>
            </a>
            {% is_staff utilizador.user as is_moderator %}
            <div class="member-details">
                <h4>
                    <a style="font-size: 28px" href="{% url 'fotos:profile' utilizador.user_id %}">
                        {{ utilizador.user.username }}
                    </a>
                    {% if is_moderator %}
                    <span class="btn btn-sm btn-success ms-2"><i class="fa fa-user-shield"></i> Moderator</span>
                    {% endif %}
                </h4>
                <div class="row info-list">
                    <div class="col-sm-4">
                        <i class="fa fa-user"></i>
                        <a style="font-size: 18px" itemref=" ">{{ utilizador.user.first_name }} {{ utilizador.user.last_name }}</a>
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        <i class="fa fa-envelope"></i>
                        <a style="font-size: 18px" href=" ">{{ utilizador.user.email }}</a>
                    </div>
                    <div class="clear">
                    </div>
                    <div class="col-sm-4">
                        <p class="text-muted fs-13px"><i class="fa fa-history"> {{utilizador.user.last_login}}</i></p>
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        {% if request.user.is_authenticated %}
                        {% is_member request.user as is_allowed %}
                        {% if request.user.id != utilizador.user.id and is_allowed %}
                        <form action="{% url 'fotos:profile' utilizador.user_id %}" method="POST">
                            {% csrf_token %}
                            {% is_following request.user.id utilizador.user_id as validation %}
                            {% if validation %}
                            <button type="submit" name="unfollow" class="btn btn-primary">
                                Unfollow
                            </button>
                            {% else %}
                            <button type="submit" name="follow" class="btn btn-primary">
                                Follow
                            </button>
                            {% endif %}

                        </form>
                        {% endif %}
                        {% endif %}
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}