{% extends 'base.html' %}

{% block title %}
Foto
{% endblock %}
{% load custom_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col md-10">
            <a href="javascript:history.back()" class="btn btn-dark my-3">Voltar</a>
            <div class="card" style="width: 45rem;">
                <img class="image-thumbnail rounded d-block"
                     src="{{foto.imagem.url}}" alt="Foto">
                <div class="card-body">
                    <h3>{{foto.titulo}}</h3>
                    <p class="card-text">{{foto.descricao}}</p>
                    <div class="btn-group" role="group">
                        <div class="btn btn-secondary bg-dark mx-1">
                            Likes
                            <span class="badge bg-light text-dark">
                                {{foto.number_of_likes}}
                            </span>
                        </div>
                        {% is_member request.user as is_allowed %}
                        {% if user.is_authenticated and is_allowed %}
                        <form action="{% url 'fotos:foto' foto.id %}" method="POST">
                            {% csrf_token %}
                            {% if foto_is_liked %}
                            <button type="submit" name="dislike" value="{{object.id}}" class="btn btn-primary"><i class="fa fa-thumbs-down" style="color: white"></i></button>
                            {% else %}
                            <button type="submit" name="like" value="{{object.id}}" class="btn btn-primary"><i class="fa fa-thumbs-up" style="color: white"></i></button>
                            {% endif %}

                        </form>

                        {% else %}
                        {% if user.is_superuser %}
                        {% else %}
                        <a class="btn btn-primary" href="{% url 'fotos:login' %}?next={{request.path}}">Faça login para dar like à foto!</a><br>
                        {% endif %}
                        {% endif %}
                        {% is_staff request.user as is_moderator %}
                        <!--ELIMINAR FOTO-->
                        {% if user.is_superuser or user.is_authenticated and is_autor or is_moderator %}
                        <a href="{% url 'fotos:eliminarFoto' foto.id %}" class="btn btn-danger mx-1"
                           onclick="return confirm('Tem a certeza que quer eliminar?')">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                        {% endif %}
                    </div>

                </div>
            </div>
            {% if user.is_authenticated and is_allowed %}
            <div class="col md-10 mt-5">
                <form method="POST" action="{% url 'fotos:foto' foto.id  %}">
                    {% csrf_token %}

                    <div class="form-outline mb-4">
                        <label for="texto">Comentário</label>
                        <textarea class="form-control" placeholder="Comentário" id="texto"
                                  name="texto"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block mb-4">
                        Submeter comentário
                    </button>

                </form>
            </div>
            {% endif %}
            <!-- COMENTÁRIOS-->
            <div class="container mt-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8">
                        <div class="headings d-flex justify-content-between align-items-center mb-3">
                            <h5>Comentários</h5>
                            <div class="buttons">
                                <span class="badge bg-white d-flex flex-row align-items-center"></span>
                            </div>
                        </div>
                        {% for comentario in comentarios %}
                        <div class="card p-3 m-2">
                            {% is_staff comentario.autor as author_is_moderator %}
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="user d-flex flex-row align-items-center">
                                    <img src="{{ comentario.autor.utilizador.image_url }}" width="35" class="user-img rounded-circle mr-5">
                                    <span>
                                        <small class="font-weight-bold text-primary m-2">
                                            {{ comentario.autor }}
                                            {% if author_is_moderator %}
                                            <span class="btn btn-sm btn-success ms-1"><i class="fa fa-user-shield"></i> Moderator</span>
                                            {% endif %}
                                        </small>
                                        <small class="font-weight-bold">{{ comentario.texto }}</small>
                                    </span>
                                </div> <small>{{comentario.created_date }}</small>
                            </div>
                            <div class="action d-flex justify-content-between mt-2 align-items-center">
                                <div class="reply px-4">
                                    {% if request.user == comentario.autor or request.user.is_superuser or is_moderator %}
                                    <a href="{% url 'fotos:process_comentario' comentario.id %}"
                                       class="btn btn-sm btn-danger"
                                       onclick="return confirm('Tem a certeza que quer eliminar?')">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                    {% endif %}
                                    <div class="btn btn-sm btn-secondary bg-dark mx-1">
                                        Likes
                                        <span class="badge bg-light text-dark">
                                        {{comentario.number_of_likes}}
                                         </span>
                                    </div>
                                </div>
                                <div class="reply px-4">
                                    {% if request.user.is_authenticated and is_allowed %}
                                    <form action="{% url 'fotos:process_comentario' comentario.id %}" method="POST">
                                        {% csrf_token %}
                                        {% is_liked request.user.id comentario.id as comentario_is_liked %}
                                        {% if comentario_is_liked %}
                                        <button type="submit" name="dislike" value="{{object.id}}" class="btn btn-primary"><i class="fa fa-thumbs-down" style="color: white"></i></button>
                                        {% else %}
                                        <button type="submit" name="like" value="{{object.id}}" class="btn btn-primary"><i class="fa fa-thumbs-up" style="color: white"></i></button>
                                        {% endif %}

                                    </form>
                                    {% endif %}
                                </div>


                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- SIDEBAR-->
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Sidebar
                </div>
                <ul class="list-group list-group-flush">
                    {% if user.is_authenticated %}
                    <li class="list-group-item">
                        <a href="{% url 'fotos:processlogout' %}" class="btn btn-outline-dark btn-sm m-1">
                            Logout</a>
                    </li>
                    {% else %}
                    <li class="list-group-item">
                        <a href="{% url 'fotos:login' %}" class="btn btn-outline-dark btn-sm m-1">
                            Login</a>
                    </li>
                    {% endif %}


                </ul>
            </div>
        </div>

    </div>

</div>
{% endblock %}