{% extends 'base.html' %}

{% block title %}
Galeria
{% endblock %}

{% block content %}
<div class="container">

    <div class="row">
        <!--sidebar com filtros-->
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Procura por título
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <form action="{% url 'fotos:galeria' %}" method="get">
                            <div class="input-group">
                                <input name="q" type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </form>
                    </li>
                    <div class="card-header">
                        Categorias
                    </div>
                    <li class="list-group-item">
                        <a href="{% url 'fotos:galeria' %}" class="hover_link">Todas</a>
                    </li>
                    {% for categoria in categorias %}
                    <li class="list-group-item">
                        <!--Mandar um GET-->
                        <a href="{% url 'fotos:galeria' %}?categoria={{categoria.nome}}" class="hover_link">
                            {{categoria.nome}}
                        </a>
                    </li>
                    {% endfor %}
                    <div class="card-header">
                        Sort
                    </div>
                    <li class="list-group-item">
                        <form action="{% url 'fotos:galeria' %}" method="get">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="sort" id="likes"
                                       value="likes">
                                <label class="form-check-label" for="likes">
                                    Mais relevantes
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="sort" id="dataAscendente"
                                       value="dataAscendente">
                                <label class="form-check-label" for="dataAscendente">
                                    Data Ascendente
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="sort" id="dataDecrescente"
                                       value="dataDecrescente">
                                <label class="form-check-label" for="dataDecrescente">
                                    Data Descendente
                                </label>
                            </div>
                            <button type="submit" class="btn btn-sm btn-primary btn-block mt-2">
                                Filtrar
                            </button>
                        </form>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="list-group-item">
                        <a href="{% url 'fotos:criar' %}" class="btn btn-dark btn-sm m-1">
                            Adicionar foto</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'fotos:profile' request.user.id %}" class="btn btn-dark btn-sm m-1">
                            Perfil</a>
                        <a href="{% url 'fotos:processlogout' %}" class="btn btn-outline-dark btn-sm m-1">
                            Logout</a>
                    </li>
                    {% else %}
                    <li class="list-group-item">
                        <a href="{% url 'fotos:login' %}" class="btn btn-outline-dark btn-sm m-1">
                            Login</a>
                    </li>
                    {% endif %}


                </ul>
            </div>
        </div>

        <!--Galeria de fotos-->
        <div class="col-md-9">
            <div class="row">

                {% for foto in fotos %}
                <div class="col-md-4">
                    <div class="card my-2">
                        <img class="image-thumbnail" src="{{foto.imagem.url}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{foto.titulo}}<span class="badge rounded-pill bg-dark mx-2">{{foto.categoria.nome}}</span>
                            </h5>
                            <p><strong>Autor:</strong>
                                <span class="badge rounded-pill bg-primary mx-1">{{foto.autor.username}}</span>
                            </p>
                            <p><strong>Data de upload:</strong> {{foto.created_date}}</p>
                            <p><strong>Likes:</strong> {{foto.number_of_likes}}</p>
                            <!--ELIMINAR FOTO-->
                            {% if user.is_authenticated and user.is_superuser %}
                            <a href="{% url 'fotos:eliminarFoto' foto.id %}" class="btn btn-danger"
                               onclick="return confirm('Tem a certeza que quer eliminar?')">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                            {% endif %}
                        </div>

                        <a href="{% url 'fotos:foto' foto.id %}" class="btn btn-outline-dark btn-sm m-1">Ver foto</a>
                    </div>
                </div>
                {% empty %}
                <h3>Não há fotos :/ ...</h3>
                {% endfor %}

            </div>


        </div>


    </div>
</div>
{% endblock %}