{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

    <section class="photo-gallery py-4 py-xl-5">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Galeria</h2>
                    <p class="w-lg-50">Fstoppers</p>
                </div>
            </div>
            <div class="row gx-2 gy-2 row-cols-1 row-cols-md-2 row-cols-xl-3 photos" data-bss-baguettebox="">
                {% for foto in fotos %}
                <div class="col item"><a href="{% url 'fotos:foto' foto.id %}">
                    <img class="img-fluid" src="{{foto.imagem.url}}"></a>
                </div>
                {% empty %}
                 <h3>Não há fotos :/ ...</h3>
                {% endfor %}
            </div>
        </div>
    </section>


{% endblock %}