{% extends 'base.html' %}

{% block title %}
Perfil
{% endblock %}
{% block content %}

<section class="h-100 gradient-custom-2">
    <div class="background_container"><img class="background" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/sky.jpg"/>
        <!--Background circles-->
        <div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
        </div>

        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                    <div class="card">
                        <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                                <img src="{{ request.user.utilizador.image_url }}"
                                     alt="Profile Image" class="img-fluid img-thumbnail mt-4 mb-2"
                                     style="width: 150px; z-index: 1">
                            </div>
                            <div class="ms-3" style="margin-top: 130px;">
                                <h5>{{request.user.first_name}} {{request.user.last_name}}</h5>
                                <p>{{request.user.email}}</p>
                            </div>
                        </div>
                        <div class="p-4 text-black" style="background-color: #f8f9fa;">
                            <div class="d-flex justify-content-end text-center py-1">
                            </div>
                            <div class="card-body p-4 text-black">

                                <div class="mb-3 mt-2">
                                    <p class="lead fw-normal mb-1">Editar os meus dados</p>

                                    <div class="p-4" style="background-color: #f8f9fa;">
                                        <form method="POST" action="{% url 'fotos:profile_edit' %}" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="row mb-4">
                                                <div class="col">
                                                    <label for="primeiro_nome">Primeiro Nome</label>
                                                    <input id="primeiro_nome" name="primeiro_nome" type="text"
                                                           class="form-control" placeholder="Primeiro Nome" aria-label="Primeiro Nome">
                                                </div>
                                                <div class="col">
                                                    <label for="ultimo_nome">Último Nome</label>
                                                    <input id="ultimo_nome" name="ultimo_nome" type="text"
                                                           class="form-control" placeholder="Último Nome" aria-label="Último Nome">
                                                </div>
                                            </div>

                                            <div class="form-outline mb-4">
                                                <label for="sobre_mim">Sobre mim</label>
                                                <textarea required class="form-control" placeholder="Sobre mim" id="sobre_mim"
                                                          name="sobre_mim"></textarea>
                                            </div>


                                            <div class="form-outline mb-4">
                                                <label for="profile_img" class="mb-2">Foto de perfil</label>
                                                <div class="input-group input-group-sm mb-3">
                                                    <input required type="file" class="form-control" id="profile_img" name="profile_img">
                                                    <label class="input-group-text" for="profile_img">Upload</label>
                                                </div>
                                            </div>

                                            <button type="submit" class="btn btn-primary btn-block mb-4">
                                                Editar
                                            </button>

                                        </form>

                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>
{% endblock %}