{% extends "base.html" %}
{% block title %}
Editar perfil
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-md-7 intro-section">
            <div class="brand-wrapper">
                <h1>FStoppers</h1>
            </div>
            <div class="intro-content-wrapper">
                <h1 class="intro-title">Bem vindo ao <strong style="color: #14C8CE;">FStoppers</strong>!</h1>
                <p class="intro-text">Área dos fotógrafos para partilharem as suas melhores fotos.</p>
                <a href="{% url 'fotos:galeria' %}" class="btn btn-read-more">Saber mais</a>
            </div>
            <div class="intro-section-footer">
                <na class="footer-nav">
                    <a href="https://www.facebook.com/ISCTEIUL/" target="_blank" >Facebook</a>
                    <a href="https://twitter.com/ISCTEIUL" target="_blank" >Twitter</a>
                    <a href="mailto: geral@iscte.pt.com" target="_blank" >Gmail</a>
                </na>
            </div>
        </div>
        <div class="col-sm-6 col-md-5 form-section">
            <div class="login-wrapper">
                <h2 class="login-title">Login</h2>
                <form action="{% url 'fotos:login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username" class="sr-only">Username</label>
                        <input id="username" name="username" value="" type="text" class="form-control" placeholder="Username"/>
                    </div>
                    <div class="form-group mb-3">
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-5">
                        <input name="login" id="login" class="btn login-btn" type="submit" value="Login">
                    </div>
                </form>
                {% if error_message %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Holy guacamole!</strong> Algo não funciona...<br>
                    <u>{{ error_message }}</u>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}

                <p class="login-wrapper-footer-text">Não tem conta?
                    <a href="{% url 'fotos:registar' %}" class="text-reset">Registe aqui</a>
                </p>

            </div>
        </div>
    </div>
</div>
{% endblock %}