{% extends 'base.html' %}

{% block title %}
Perfil
{% endblock %}

{% block content %}

<section class="h-100 gradient-custom-2">
  <div class="background_container"><img class="background" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/sky.jpg"/>
    <!--Background circles-->
    <div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
    </div>

    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card">
            {% load static%}

            <div class="rounded-top text-white d-flex flex-row"
                 style="background-image: url('/static/images/profile/background/profile_background.jpg');
height:200px; object-fit: cover;">

              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                <img src="{{ utilizador.image_url }}"
                     alt="Profile Image" class="img-fluid img-thumbnail mt-4 mb-2"
                     style="width: 150px; z-index: 1">

              </div>

              <div class="ms-3" style="margin-top: 130px;">
                <h5>{{user.first_name}} {{user.last_name}}</h5>
                <p>{{user.email}}</p>
              </div>
            </div>
            <div class="p-4 text-black" style="background-color: #f8f9fa;">
              {% if request.user.is_authenticated and request.user.id == user.id and request.user.is_superuser is False%}


              <div class="d-flex justify-content-start text-center mt-5">
                <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                        style="z-index: 1;" onclick="location.href='{% url 'fotos:profile_edit' user.id %}'">
                  Editar perfil
                </button>
              </div>
              {% endif %}
              {% if request.user.is_authenticated and request.user.id == user.id or request.user.is_superuser %}
              <div class="d-flex justify-content-start text-center mt-1">

                <form action="{% url 'fotos:profile' utilizador.user_id %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="eliminar" value="eliminar" />
                  <button type="submit" class="btn btn-danger" data-mdb-ripple-color="dark"
                          onclick="return confirm('Tem a certeza que quer eliminar?')"
                          style="z-index: 1;">
                    Eliminar perfil
                  </button>

              </div>
              {% endif %}


              <div class="d-flex justify-content-end text-center py-1">
                <div>
                  <p class="mb-1 h5 me-2">{{utilizador.number_of_followers}}</p>
                  <p class="small text-muted mb-0 me-2">Followers</p>
                </div>
                <div>
                  <p class="mb-1 h5 me-2">{{utilizador.number_of_following}}</p>
                  <p class="small text-muted mb-0 me-2">Following</p>
                </div>
                <div>
                  <p class="mb-1 h5">{{autor_count}}</p>
                  <p class="small text-muted mb-0">Fotos</p>
                </div>
                <div class="px-3">
                  <p class="mb-1 h5">{{likes_count}}</p>
                  <p class="small text-muted mb-0">Likes</p>
                </div>
                <div class="px-3">
                  {% if user.is_authenticated and request.user.id != user.id%}
                  <form action="{% url 'fotos:profile' utilizador.user_id %}" method="POST">
                    {% csrf_token %}
                    {% if is_following is True %}
                    <button type="submit" name="unfollow" class="btn btn-primary">
                      Unfollow
                    </button>
                    {% else %}
                    <button type="submit" name="follow" class="btn btn-primary">
                      Follow
                    </button>
                    {% endif %}

                  </form>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="card-body p-4 text-black">

              <div class="mb-5">
                <p class="lead fw-normal mb-1">Sobre mim</p>

                <div class="p-4" style="background-color: #f8f9fa;">
                  {% if utilizador.about %}
                  <p class="font-italic mb-1">{{utilizador.about}}</p>
                  {% else %}
                  <p class="font-italic mb-1">Ainda não tem uma descrição...</p>
                  {% endif %}
                </div>

              </div>


              {% if following_list.all %}
              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0">Following</p>
              </div>
              {% endif %}
              <div class="row">

                {% for following in following_list %}
                {% is_staff following.utilizador.user as is_moderator %}
                <div class="list-group-item d-flex align-items-center justify-content-between">
                  <img src="{{following.utilizador.image_url}}" alt="" width="50px" class="rounded-sm ml-n2 me-2" />
                  <div class="flex-fill pl-3 pr-3">

                    <div><a href="{% url 'fotos:profile' following.id %}" class="text-dark font-weight-600">
                      {{following.first_name}} {{following.last_name}}</a>
                      {% if is_moderator %}
                      <span class="btn btn-sm btn-success ms-1"><i class="fa fa-user-shield"></i> Moderator</span>
                      {% endif %}
                    </div>
                    <div class="text-muted fs-13px">Followers:
                      <span class="badge bg-secondary">{{following.utilizador.number_of_followers}}</span>
                    </div>
                  </div>
                  <div class="text-muted fs-13px">Email: {{following.email}}
                  </div>
                </div>
                {% endfor %}

              </div>

              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0">Fotos recentes</p>
              </div>
              <div class="row">

                {% for foto in fotos %}
                <div class="col-md-5">
                  <div class="card my-2">
                    <img class="image-thumbnail" src="{{foto.imagem.url}}" alt="Card image cap">

                    <a href="{% url 'fotos:foto' foto.id %}" class="btn btn-outline-dark btn-sm m-1">Ver foto</a>
                  </div>
                </div>
                {% empty %}
                <h4>Não tem fotos...</h4>
                {% endfor %}

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>
{% endblock %}